* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 40px 0px;
  text-align: center;
}

.form-container {
  margin: auto;
  max-width: 650px;
}

.title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 1em;
}

.hint {
  font-size: 12px;
}

.form-field {
  width: 90%;
  font-size: 20px;
  margin: 0.9em;
}
